{# base template that other templates can build from. Specifies the title for the
page and a navigation bar at the top
see http://jinja.pocoo.org/docs/templates/#template-inheritance for more information #}

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>AuctionBase</title>
</head>
<body>
  <center>
  <form method="GET" action="auctiondetails">
  <table><tr><td style="white-space:nowrap">
  <b>AuctionBase:</b>
  &nbsp;&nbsp;&nbsp;
  <a href="currtime">Current Time</a>
  &nbsp;&nbsp;&nbsp;
  <a href="selecttime">Select a Time</a>
  &nbsp;&nbsp;&nbsp;
  <a href="auctionsearch">Search Auctions</a>
  &nbsp;&nbsp;&nbsp;
    Go To:
    <input type="text" name="item_id" value="#itemID#">
  </td></tr></table>
  </form>
  </center>
  {% if error is defined %}
  <center>
    <div style="color:red; font-size: 14pt; margin-top: 20px">{{ error|safe }}</div>
  </center>
  {% endif %}
  {# specify content block so that other templates can use this template as a base #}
  <div id="content"><center>{% block content %}{% endblock %}</center></div>
</body>
</html>
