{% extends "app_base.html" %}
{% block content %}
  <h3> Auctions </h3>
  {% if message is defined %}
    <center>{{ message|safe }}</center>
  {% endif %}
  <table border="1">
  {% set headersWritten = False %}
  {% for auction in auctions %}
    {% if not headersWritten %}
      {% set headersWritten= True %}
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Currently</th>
      <th>Num Bids</th>
      <th>Buy price</th>
      <th>Started</th>
      <th>Ends</th>
      <th>Seller</th>
    </tr>
    {% endif %}
    <tr>
      <td>
      {% if auction.status == "Pending" %}
        <div style="color:orange">Pending</div>
      {% elif auction.status == "Open" %}
        <div style="color:green">Open</div>
      {% else %}
        <div style="color:red">Closed</div>
      {% endif %}
      </td>
      <td><a href='auctiondetails?item_id={{ auction.itemID }}'>{{ auction.name|e }}</a></td>
      <td align="right">{{ "%.2f"|format(auction.currently) }}</td>
      <td align="right">{{ auction.number_of_bids }}</td>
      <td align="right">
    {% if auction.buy_price %}
        {{ "%.2f"|format(auction.buy_price) }}
    {% endif %}
      </td>
      <td>{{ auction.started }}</td>
      <td>{{ auction.ends }}</td>
      <td>{{ auction.username|e }}</td>
    </tr>
  {% else %}
    <tr>
      <td><div style="color:red">No auctions found.</div></td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
