{% extends "app_base.html" %}
{% block content %}
{# include the first two lines above to extend the app_base template #}
{% if auction is defined %}
  <h3>{{ auction.name }}</h3> 
{% endif %}
{% if message is defined %}
  <center>{{ message|safe }}</center>
{% endif %}
{% if auction is defined %}
  <table width="800">
    <tr>
      <td align="right"><b>Currently:</b></td>
      <td>
        {{ "$%.2f"|format(auction.currently) }}
        {% if high_bid.username is defined and auction.status == "Open" %}
          ({{ high_bid.username|e }})
        {% endif %}
      </td>
      <td align="right"><b>Status:</b></td>
      <td>
        <table>
          <tr>
            <td>
            {% if auction.status == "Pending" %}
              <div style="color:orange">Pending</div>
            {% elif auction.status == "Open" %}
              <div style="color:green">Open</div>
            </td>
            {% else %}
              <div align="left" style="color:red">Closed</div>
              {% if high_bid.username is defined %}
            </td>
            <td>(<b>Winner:</b>{{ high_bid.username|e }})</td>
              {% endif %}
            {% endif %}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="right"><b>Buy Price:</b></td>
      <td>
      {% if auction.buy_price is defined and auction.buy_price|float > 0.0 %}
        {{ "$%.2f"|format(auction.buy_price) }}
      {% else %}
        None
      {% endif %}
      </td>
      <td align="right"><b>Seller:</b></td><td>{{ auction.username }}</td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td align="right"><b>Started:</b></td><td>{{ auction.started }}</td>
      <td align="right"><b>Location:</b></td><td>{{ auction.location }}</td>
    </tr>
    <tr>
      <td align="right"><b>Ends:</b></td><td>{{ auction.ends }}</td>
      <td align="right"><b>Country:</b></td><td>{{ auction.countryName }}</td>
    </tr>
    <tr><td colspan="4" style="padding: 15px">{{ auction.description  }}</td></tr>
  </table>
  {# Bids table #}
  {% if auction.status != "Pending" %}
  <table border="1">
  {% set headersWritten = False %}
  {% for bid in bids %}
    {% if not headersWritten %}
      {% set headersWritten = True %}
    <tr><th>Bidder</th> <th>Amount</th> <th>Time</th></tr>
    {% endif %}
    <tr>
      <td>{{ bid.username|e }}</td>
      <td align="right">{{ "%.2f"|format(bid.amount) }}</td>
      <td>{{ bid.time }}</td>
    </tr>
  {% else %}
    <tr>
    {% if auction.status == "Open" %}
      <td><div style="color:green">No bids yet.</div></td>
    {% else %}
      <td></td>
    {% endif %}
    </tr>
  {% endfor %}
  </table>
  {% endif %}
  {% if auction.status == "Open" %}
  {# New Bid form #}
  <form method="POST" action="auctiondetails">
    <table>
      <tr>
        <td>
          <p align="center">
            <table>
              <tr>
                <td><div style="color:orange">Place a Bid!</div></td>
                <td>Username: <input type="text" name="username"></td>
                <td>Amount: <input type="text" name="amount"></td>
                <td>
                  <input type="hidden" name="item_id" value="{{ auction.itemID }}">
                  <input type="submit" value="Place Bid">
                </td>
              </tr>
            </table>
          </p>
        </td>
      </tr>
    </table>
  </form>
  {% endif %}
{% endif %}
{# also make sure to include this very last line as well #}
{% endblock %}
