{% extends "app_base.html" %}
{% block content %}
<h3> Auction Search </h3> 
{% if message is defined %}
<center>{{ message|safe }}</center>
{% endif %}
<form method="POST" action="auctionlist">
  <table>
    <tr>
      <td colspan="2">
        <p align="center">
          Category:
          <select size="1" name="category_id">
            <option value="-1">-</option>
          {% for category in categories %}
            <option value="{{ category.categoryID }}">{{ category.categoryName }}</option>
          {% endfor %}
          </select>
          Status:
          <select size="1" name="status">
            <option value="All">All</option>
            <option value="Pending">Pending</option>
            <option value="Open">Open</option>
            <option value="Closed">Closed</option>
          </select>
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p align="center">
          Min Price: <input type="text" name="min_currently">
          Max Price: <input type="text" name="max_currently">
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div style="border: 1px solid">
          <input type="checkbox" name="apply_min_started" value="true">
          Only auctions that started after
          {% set prefix = "min_started" %}
          {% include 'timetable.html' %}
        </div>
        <br>
        <div style="border: 1px solid">
          <input type="checkbox" name="apply_max_started" value="true">
          Only auctions that started before
          {% set prefix = "max_started" %}
          {% include 'timetable.html' %}
        </div>
      </td>
      <td>
        <div style="border: 1px solid">
          <input type="checkbox" name="apply_min_ends" value="true">
          Only auctions that end after
          {% set prefix = "min_ends" %}
          {% include 'timetable.html' %}
        </div>
        <br>
        <div style="border: 1px solid">
          <input type="checkbox" name="apply_max_ends" value="true">
          Only auctions that end before
          {% set prefix = "max_ends" %}
          {% include 'timetable.html' %}
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p align="center"><input type="submit" value="Find Auctions"></p>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
